body{
    background-color: mediumvioletred;
}
.Joseph{
    position: relative;
    width: 118px;
    height: 15px;
    top: -78px;
    left: 185px;
    color:blue;
}
.Kars{
    
    position: relative;
    width: 30px;
    height: 15px;
    top: -75px;
    left: 165px;
    color:yellow;
}
.img_jojo2{
	width:203px;
    height:499px
}
.img_haut{
    width: 282;
    height: 280px;
}