body{
	background-color: mediumvioletred;
}
.body_index{
    background-color: mediumvioletred;
	background-image:url(Images/image-fond.jpg);
    background-size: contain;
	background-attachment:fixed;
	background-repeat:no-repeat;
    background-position: center;
}
h1{
    color: red;
}
table{
    border-collapse: collapse;
    background-color: rgb(233,150,122);
}
td{
    border: 1px solid black
}
.image fond{
	align: center;
}
.jojo{
    color: pink;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 40px;
    text-align: center;
}
.info{    position: absolute;
    width: 430px;
    height: 15px;
    bottom:0px;
    left: 0px;
    color:black;
    background-color: white;
}
.Hero{
    position: relative;
    width: 118px;
    height: 15px;
    top: -78px;
    left: 185px;
    color:blue;
}
.Anta{
    
    position: relative;
    width: 30px;
    height: 15px;
    top: -75px;
    left: 165px;
    color:yellow;
}
.img_jojo1{
	width:250px;
	height:500px
}
.img_haut{
    width: 282px;
    height: auto;
}
.img_jojo2{
	width:203px;
    height:499px
}
.img_jojo3{
    width: 224px;
    height: 280px;
}