body{
    background-color: mediumvioletred;
}
.Jonathan{
    position: relative;
    width: 118px;
    height: 15px;
    top: -78px;
    left: 185px;
    color:blue;
}
.Dio{
    
    position: relative;
    width: 30px;
    height: 15px;
    top: -75px;
    left: 165px;
    color:yellow;
}
.img_jojo1{
	width:250px;
	height:500px
}