body{
    background-color: mediumvioletred;
}
.Jotaro{
    position: relative;
    width: 118px;
    height: 15px;
    top: -78px;
    left: 185px;
    color:blue;
}
.Dio{
    
    position: relative;
    width: 30px;
    height: 15px;
    top: -75px;
    left: 165px;
    color:yellow;
}
.img_jojo2{
	width:224px;
    height:280px
}
.img_haut{
    width: 282px;
    height: auto;
}